.page-container {
    position: relative;
    top: -40px;
    margin-top:150px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 30, 0.7);
    box-shadow: 0px 10px 20px rgba(0, 0, 255, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 255, 0.4);
  }
  

  .title {
    background: linear-gradient(to right, #121257, #21185a); /* Gradient effect */
   
    padding: 10px;
    border-radius: 8px;
    font-size: 26px;
    text-align: center;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}


  
  .question-box {
    margin-bottom: 15px;
  }
  
 /* Make question text white */
.question-text {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    color: white;  /* Set text color to white */
    font-weight: bold;
}

/* Make input box greyish */
.answer-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #4c7ec5;  /* Light grey border */
    border-radius: 5px;
    background-color: #360a88; /* Light grey background */
    color: #b4b8dc; /* Dark text for better readability */
    font-size: 16px;
}

/* Change input box border color when focused */
.answer-box:focus {
    border: 2px solid #340572; /* Green border on focus */
    outline: none;
    background-color: #383176; /* Slightly darker grey */
}

