
.notes-container {
  width: 80vw; 
  margin: 100px auto 50px auto;
  padding: 30px;
  background: rgba(0, 0, 30, 0.7); 
  backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 255, 0.3);
  border: 1px solid rgba(0, 0, 255, 0.4);
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  overflow: hidden;
  height: 80vh;
}

/* Note Input Section */
.note-input {
  background: rgba(0, 0, 30, 0.6);
  padding: 3px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 255, 0.3);
  border: 1px solid rgba(0, 0, 255, 0.4);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 180px;
  
}

/* Styling for the note input textarea */
.note-input textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 2px solid #00ccff;
  border-radius: 10px;
  background-color: rgba(0, 0, 50, 0.6);
  color: white;
  font-size: 16px;
  resize: vertical;
  box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.4);
  transition: all 0.3s ease;
}

.note-input textarea:focus {
  border-color: #0088ff;
  box-shadow: 0 0 15px #00ccff;
  outline: none;
}

/* Add Note Button */
.note-input button {
  width:30%;
  align-self: flex-end; 
  background: linear-gradient(45deg, #00aaff, #00ffea);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 140, 255, 0.3);

}

.note-input button:hover {
  background-color: #0099cc;
}

/* Notes List Section */
.note-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  max-height: calc(80vh - 250px); 
}


.note-item {
  background: rgba(0, 0, 50, 0.5); 
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(13, 13, 93, 0.4);
  transition: transform 0.3s ease;
}

.note-item:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

/* Delete Button */
.delete-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-button:hover {
  color: #ff6666; 
}


.note-item small {
  display: block;
  font-size: 14px;
  color: #ccc;
  margin-top: 5px;
  text-align: right;
}


.notes-container h2 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-weight: 900; /* Bold weight */
  font-size: 2.5rem; /* Increased size */
  background: linear-gradient(45deg, #00aaff, #00ffea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 8px rgba(0, 140, 255, 0.8);
  margin-bottom: 30px;
}
